<nav class="p-3 navbar">
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button
        (click)="setCurrentAction(action)"
        routerLink="{{action.route}}"
        [class]="action==currentAction
        ?'btn btn-success ms-1':
        'btn btn-outline-success ms-1'"
      >
        {{action.title}}
        <i class="bi bi-{{action.icon}}"></i>
      </button>
    </li>
    <!--*ngIf="appState.productState.status=='LOADING'"-->
    <!--*ngIf="isLoading==true"-->
    <li *ngIf="loadingService.isLoading$ | async">
      <div
        class="spinner-border text-primary ms-2"
        role="status"></div>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li *ngIf="appState.authState.isAuthenticated">
      <span class="p-1 m-1" >{{appState.authState.username}}</span>
      <button (click)="logout()" class="btn  btn-outline-success">
        <i class="bi bi-door-closed-fill"></i>
      </button>
    </li>
    <li *ngIf="!appState.authState.isAuthenticated">
      <button (click)="login()" class="btn  btn-outline-success">
        <i class="bi bi-door-open-fill"></i>
      </button>
    </li>
  </ul>

</nav>
